/*Global*/

body {
	background:#FFF;
	color: #000;
}

#events, #home {
	background:#FFF;
}

/*Header*/

.css-ltsvdo {
	display: flex;
	background-color: #FFF;
}
div#ADVOCATE-NAV > div:last-child {
  width: 1050px;
  margin: 0 auto;
}
div#ADVOCATE-NAV > div:first-child {
	width: 100%;
}
.css-1j1duor {
  padding-left: 50px;
}

/*Footer*/

.c-footer {
	display: none;
}
#custom-footer .c-footer {
	display: block;
	background-color: #28412E;
	width: 100%;
	color: #FFF;
}
#custom-footer .c-footer a {
	color: #FFF;
}
.c-footer-inner {
	padding: 20px;
	width: 1050px;
  margin: 0 auto;
}
.c-footer-inner li {
	display: inline;
	float: left;
	margin: 15px;
}
.c-footer-top, .c-footer-bottom {
	display: flex;
}
.c-footer-nav, .c-footer-social, .c-footer-branding, .c-footer-nav-secondary {
	width: 100%;
}
.c-footer .o-logo-light {
	width: 150px;
	vertical-align: middle;
}

/*Sidebar*/

.sidebar-tab-content div {
	box-shadow: none;
	/*background-color: #E8EEF9;*/
}

.sidebar-tab-content section, [data-qa = "feed-card"], .css-1njih6h, div#COMMUNITY_FEED_CONTAINER > div > div {
	background-color: #E8EEF9 !important;
}
.profile_completion {
	padding: 10px;
}

/*Tabs*/

.tablist__tab--selected {
	background-color: #D2BDFF;
	color: #000;
	border-radius: 27px;
}
.pt-override .pt-select .select-box {
	border-radius: 27px;
	padding-left: 20px;
}
.pt-override .pt-select .select-box .title {
	color: #000;
}
.tablist__tab:hover {
	border-radius: 27px;
	background-color: #E8EEF9;
}

/*Challenges*/

.channel-card__gradient_dark {
	display: none;
}
.channel-card__image-container div {
	background-color: #E8EEF9;
}
.channel-card__horizontal-line {
	border-bottom-color: #FFF;
	opacity: 1;
}
.channel-card__inner-content-container {
	color: #000;
}
.challenge-card .pt-card {
	box-shadow: none;
}
.channel-card__inner-content-container:hover .channel-card__dark-overlay {
	background-color: #E8EEF9;
	box-shadow: none;
}
