/* Typeface*/
@font-face {
  font-family: "GTAlpina-Italic";
  src: url("https://s3-eu-west-1.amazonaws.com/materials.peakon.com/email-template-assets/peakon-fonts/GT-Alpina-Extended-Regular-Italic.otf");
}
@font-face {
  font-family: "GTAlpina";
  src: url("https://s3-eu-west-1.amazonaws.com/materials.peakon.com/email-template-assets/peakon-fonts/GT-Alpina-Extended-Regular.otf");
}
@font-face {
  font-family: "DMSans";
  src: url("https://s3-eu-west-1.amazonaws.com/materials.peakon.com/email-template-assets/peakon-fonts/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DMSansBold";
  src: url("https://s3-eu-west-1.amazonaws.com/materials.peakon.com/email-template-assets/peakon-fonts/DMSans-Bold.ttf");
}
@font-face {
  font-family: "DMSansItalic";
  src: url("https://s3-eu-west-1.amazonaws.com/materials.peakon.com/email-template-assets/peakon-fonts/DMSans-Italic.ttf");
}

/*Global*/

body {
	background-color: #FFF;
  color: #000;
  font-family: 'DMSans', 'Helvetica', 'Arial';
  font-size: 15px;
  font-weight: 400;
  line-height: 21.5px;
  -webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

#events, #home, #referrals, #rewards {
	background: #FFF !important;
	background-color: #FFF !important;
}

.button.primary, button.primary {
	background-color: #D2BDFF !important;
	border-color: #D2BDFF !important;
	color: #000 !important;
	border-radius: 27px;
	box-shadow: none !important;
}

/*Banner*/

.c-banner {
	position: relative;
  left: -50%;
  right: -50%;
  padding-left: 50%;
  padding-right: 50%;
	background: #E8EEF9;
	width: 100%;
	display: flex;
}
.c-banner-title h1 {
	font-family: 'GTAlpina', "Times New Roman", "serif";
	font-size: 35px;
	padding: 30px;
	color: #000;
}
.c-banner-title span {
  font-family: 'GTAlpina-Italic', "Times New Roman", "serif";
}
.c-banner-content {
  padding: 30px;
  margin: auto;
	font-size: 18px;
	font-weight: 400;
}

/*Header*/

.css-ltsvdo {
	display: block;
	background-color: #FFF;
}
div#ADVOCATE-NAV > div:last-child {
  width: 1050px;
  margin: 0 auto;
}
div#ADVOCATE-NAV > div:first-child {
	width: 100%;
}
.css-1j1duor {
  padding-left: 50px;
	width: 70% !important;
  margin-top: -70px !important;
  float: right;
	position: relative;
}
.c-nav-list [type = "home"]{
	display: none !important;
}
#nav-container ul {
	text-align: center;
  display: block;
}
.o-logo img {
	margin-top: 10px;
	width: 211px;
}
div#custom-header {
  width: 20%;
  position: relative;
  float: left;
  margin-top: -70px
}
.c-company-banner-container {
  margin-top: 70px;
}

/*Footer*/

.c-footer {
	display: none;
}
#custom-footer .c-footer {
	display: block;
	background-color: #28412E;
	width: 100%;
	color: #FFF;
	z-index: 999;
}
#custom-footer .c-footer a {
	color: #FFF;
	font-size: 16px;
}
.c-footer-inner {
	padding: 20px;
	width: 1050px;
  margin: 0 auto;
}
.c-footer-inner li {
	display: inline;
	float: left;
	margin: 15px;
}
.c-footer-top, .c-footer-bottom {
	display: flex;
}
.c-footer-nav, .c-footer-social, .c-footer-branding, .c-footer-nav-secondary {
	width: 50%;
}
.c-footer .o-logo-light {
	width: 150px;
	vertical-align: middle;
}
.c-footer-nav-secondary li {
	float: right;
}
.c-footer-social span {
	padding: 0 10px;
}
.c-footer-social tbody, .c-footer-social tr {
	border: none !important;
}
.c-footer-social td {
	padding: 5px !important;
}
.c-footer-branding{
  margin-left: -20px;
}
.c-footer-branding li > * {
	vertical-align: middle;
}
.c-footer-top {
	border-bottom: 1px solid #506154;
}
.c-footer-nav-secondary a{
	font-size: 14px !important;
}
.c-footer-nav {
	margin-left: -20px;
}
.c-footer-bottom {    
	margin-top: 20px;
}
.c-footer .c-footer-nav {
	margin-top: 0px;
}
.c-footer-branding ul li:last-child {
  margin-top: 30px;
}
div#custom-footer {
    z-index: 999;
    position: relative;
}
.c-footer-social table {
	float: right;
	text-align: right;
}
.c-footer-social table span {
	top: -10px;
  position: relative;
}

/*Sidebar*/

.sidebar-tab-content div {
	box-shadow: none;
}

.sidebar-tab-content section, [data-qa = "feed-card"], .css-1njih6h, div#COMMUNITY_FEED_CONTAINER > div > div {
	background-color: #E8EEF9 !important;
}
.profile_completion {
	padding: 10px;
}
#COMMUNITY_FEED_CONTAINER, .goals {
	display: none;
}

/*Tabs*/

.tablist__tab--selected {
	background-color: #D2BDFF;
	color: #000;
	border-radius: 27px;
}
.pt-override .pt-select .select-box {
	border-radius: 27px;
	padding-left: 20px;
}
.pt-override .pt-select .select-box .title {
	color: #000;
}
.tablist__tab:hover {
	border-radius: 27px;
	background-color: #E8EEF9;
}

/*Challenges*/

.channel-card__headline {
	font-family: 'GTAlpina', "Times New Roman", "serif";
	font-size: 17px;
  font-weight: 400;
  line-height: 21.5px;
  -webkit-font-smoothing: antialiased;
}
.channel-card__gradient_dark, .css-170r1z0 {
	display: none;
}
.channel-card__image-container, .css-16nb0ty {
	background-color: #E8EEF9 !important;
}
.channel-card__image-container > div, .css-ij36dd {
	background-color: #E8EEF9 !important;
	width: 180px !important;
	height: 180px !important;
	margin: 0 auto;
}
.channel-card__horizontal-line, .css-1t0lz1r {
	border-bottom-color: #FFF;
	opacity: 1;
}
.channel-card__inner-content-container, .css-1un3t8d, .css-ltiiju, .css-1wfel9u div {
	color: #000 !important;
}
.challenge-card .pt-card, .css-1tn4ere {
	box-shadow: none;
}
.channel-card__inner-content-container:hover .channel-card__dark-overlay, .css-r7qdt1:hover .css-1snii0k {
	background-color: #E8EEF9 !important;
	box-shadow: none;
}

/*Rewards*/

#advocate-rewards > .tab-header {
	display: none !important;
}
.reward-filter ul li a {
	padding: 7px 20px;
}
.reward-filter ul li.active a {
	border: none !important;
	background: #D2BDFF;
  border-radius: 27px;
}
.reward-filter ul li a:hover {
	border: none !important;
	background: #E8EEF9;
  border-radius: 27px;
}
.rewards-section-title {
	font-family: GTAlpina !important;
	font-size: 25px !important;
	line-height: 29px;
	font-wieght: normal !important;
}

